@mixin laptop{
    @media screen and (max-width:1190px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width:980px) {
        @content;
    }
}


@mixin mobile{
    @media screen and (max-width:412px) {
        @content;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        
     }
}
// STYLES STARTS HERE.......................>
$color1:#27A1E8;
$color2:#464646;
$color3:white;
$color4:#6D6D6D;
$color5:#0267A1;
$color6:#2FAEF7;
$color7:#E2F4FF;
$color8:#1B8ED1;
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    font-size: 62.5%;
}
.app{

    .headerContainer{
        color: $color3;
        background-image: url("./assets/bg.svg");
        background-size: cover;
        background-position: center;
        min-height: 72.7rem;
        border: 1px solid green;
       header{
        // border: 1px solid red;
        max-width: 1440px;
        padding: 0 10rem;
        margin: auto;
        @include laptop(){
            padding: 0 5rem;
        }


        nav{
            margin-top: 5rem;
            display: flex;
            // border: 1px solid red;
            align-items: center;
            justify-content: space-between;
            .nav__logo{
                // flex: 5;
            }
            .nav__menu{
                // flex: 7;
                display: flex;
                align-items: center;
                gap:7.5rem;
                @include tablet(){
                    gap:2.5rem;
                }
                // border: 1px solid green;
                ul{
                    display: flex;
                    list-style-type: none;
                    @include tablet() {
                        display:none;
                    }
                    li{
                        padding: 1.2rem 3.2rem;
                        font-size: 1.6rem;
                        font-weight: 300;
                        a{  
                            white-space: nowrap;
                            position: relative;
                            cursor: pointer;
                            &::after{
                                content: '';
                                width: 0%;
                                height: 0.25rem;
                                left: 0;
                                bottom: -0.8rem;
                                position: absolute;  
                                background-color: $color3; 
                                transition: 0.5s;
                            }
                            &:hover::after{
                                width: 100%;
                            }
                            &:hover{
                                font-weight: 600;
                            }
                            &::after{
                                width: 0%;
                                height: 0.25rem;
                                left: 0;
                                bottom: -0.8rem;
                                position: absolute;  
                                background-color: $color3; 
                                transition: 0.5s;
                            }
                        }
                    }
                 
                }
                .nav__menu--icon{
                    font-size: 1.6rem;
                    display: none;
                    @include tablet(){
                        display: block;
                    }
                }
                button{
                    padding: 1.2rem 3.2rem;
                    border: none;
                    border-radius: 0.4rem;
                    background-color:$color3;
                    color: $color1;
                }
            }
        }
    
        .heroSection{
            margin: auto;
            margin-top: 2.7rem;
            display: flex;
            align-items: center;
            // border: 1px solid red;
            .heroContent{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 6;
                
                h1{
                    
                    font-size: 5.6rem;
                    font-weight: 600;
                    line-height: 110%;
                    // text-align: center;
                    }
                    p{
                        margin-top: 2.2rem;
                        font-size: 2rem;
                        // text-align: center;
                    }
            
                    button{
                        font-size: 1.6rem;
                        margin-top: 4.6rem;
                        padding: 1.2rem 3.2rem;
                        border: none;
                        border-radius: 0.4rem;
                        background-color:$color3;
                        color: $color1;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
            }

            .heroImg{
                flex: 5;
                // border: 1px solid red;
                position: relative;
                .personImg{
                    animation: fadeInAnimation ease 1s;
                }
                .iotImg{
                    position: absolute;
                    top: 5.9rem;
                    left: 3.6rem;
                    animation: fadeInAnimation ease 3s;
                }
                .webImg{
                    position: absolute; 
                     top: 41.7rem;
                    left: 6.9rem;
                    animation: fadeInAnimation ease 4s;
                }
                .ucImg{
                    position: absolute;
                    top: 9.5rem;
                    left: 46.4rem;
                    animation: fadeInAnimation ease 5s;
                }

            }

    
        }
       }
    }

    .getintouchContainer {
        background-image: url(../src/assets/gitbg.svg);
        background-position: center;
        background-size: cover;
        color: $color3;
        // overflow: hidden;
        // margin-top: 136px;
      
        .getintouch {
    
          max-width: 1440px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      
          h1 {
      
            font-size: 4rem;
            margin-top: 10.8rem;  
            font-weight:500 ;              
            
          }
      
          p {
            margin-top: 2rem;
            max-width: 74rem;
            text-align: center;
            font-size: 1.6rem;
          }
      
          div {
            margin-top: 4.2rem;
            margin-bottom: 10.7rem;
            display: flex;
            align-items: center;
            gap: 2rem;

            input {
              outline: none;
              border: 1px solid $color3;
              border-radius: 0.8rem;
              padding: 1.6rem 2rem;
              width: 34.1rem;
              background-color: transparent;
              font-size: 1.6rem;
              color: $color3;
              &::placeholder{
                color: $color3;
              }
            }
      
            button{
                font-size: 1.6rem;
                padding: 1.6rem 3.2rem;
                border: none;
                border-radius: 0.4rem;
                background-color:$color3;
                color: $color4;
            }
          }
        }
      }
      
      .footerContainer{
        display: flex;
        flex-direction: column; 
        padding-top:12.4rem ;
        gap: 4.7rem;
        background-color: $color7;
      .footer {
        max-width: 1440px;
        display: flex;
        .footerContent {
            flex: 1;
          margin: 0 100px;
          display: flex;
          align-items: center;
        justify-content: space-between;
        // border: 1px solid red;
    
      
          .about {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            max-width: 39.7rem;
            p {
              text-align: justify;
              font-size: 1.3rem;
            }
            .icons {
              display: flex;
              gap: 11px;
              & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #dddddd;
                color: white;
                &:hover {
                  background-image: linear-gradient($color5,$color6);
                  box-shadow: -7px 11px 17px 0px rgba(0, 0, 0, 0.12);
                  cursor: pointer;
                }
                &>*{
                    width: 1.6rem;
                    height: 1.6rem;
                }
              }
            }
          }
      
          .quickmenu {
            // border: 1px solid red;
            h1 {
              font-weight: 600;
              font-size: 2.4rem;
            }
      
            display: flex;
            flex-direction: column;
            gap: 16px;
      
            div {
              cursor: pointer;
              font-size: 1.6rem;
            }
          }
      
          .contact {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .icon{
                color: $color8;
            }
            & > div {
              display: flex;
              align-items: center;
              gap: 12px;
              font-size: 1.6rem;
            }
          }
        }
      
      }
      .footerbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.6rem;
        // background-image: linear-gradient(to bottom left,$color5, $color6);
        // color: white;
        background-color: white;
        font-size: 1.6rem;
      }
      }
}







