@mixin laptop{
    @media screen and (max-width:1190px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width:980px) {
        @content;
    }
}


@mixin mobile{
    @media screen and (max-width:412px) {
        @content;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        
     }
}
// STYLES STARTS HERE.......................>
$color1:#27A1E8;
$color2:#464646;
$color3:white;
$color4:#6D6D6D;
$color5:#0267A1;
$color6:#2FAEF7;
$color7:#E2F4FF;
$color8:#1B8ED1;
$palletecolor1:#33B4FF;
$palletecolor2:#767676;
$palletecolor3:#0166A0;
$palletecolor4:#33B4FF;
$palletecolor5:#6D6D6D;
$palletecolor6:#414141;
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
}

html{
    font-size: 62.5%;
}
.app{

    nav{
        color: $color3;       
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 70px;
        left: 0;
        top: 0;
        width: 100%;

        // padding-left: 100px;
        // padding-right: 100px;
        // transition: 0.1s;
        // background-color: black;
        .navbar{
          flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        padding-left: 100px;
        padding-right: 100px;
        }
        .nav__logo{
            // flex: 5;
        }
        .nav__menu{
            // flex: 7;
            display: flex;
            align-items: center;
            gap:7.5rem;
            @include tablet(){
                gap:2.5rem;
            }
            // border: 1px solid green;
            ul{
                display: flex;
                list-style-type: none;
                @include tablet() {
                    display:none;
                }
                li{
                    padding: 1.2rem 3.2rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    a{  
                        white-space: nowrap;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            content: '';
                            width: 0%;
                            height: 0.25rem;
                            left: 0;
                            bottom: -0.8rem;
                            position: absolute;  
                            background-color: $palletecolor1; 
                            transition: 0.5s;
                        }
                        &:hover::after{
                            width: 100%;
                        }
                        &:hover{
                            color: $palletecolor1;
                        }
                        // &::after{
                        //     width: 0%;
                        //     height: 0.25rem;
                        //     left: 0;
                        //     bottom: -0.8rem;
                        //     position: absolute;  
                        //     background-color: $color3; 
                        //     transition: 0.5s;
                        // }
                    }
                }
            
            }
            .nav__menu--icon{
                font-size: 1.6rem;
                display: none;
                @include tablet(){
                    display: block;
                }
            }
            button{
                padding: 1.2rem 3.2rem;
                border: none;
                border-radius: 0.4rem;
                background-color:$color3;
                color: $color1;
                cursor: pointer;
                &:hover{
                  background-color: $color1;
                  color: $color3;
                }
                &:active{
                  background-color: $color5;
                }
            }
        }
    }
    .sticky{
      box-shadow: 0 40px 46px 0 rgba(0, 0, 0, 0.08);
      top: 0;
      color: $palletecolor2;
      background-color: white;
      .nav__menu button{
        color: $palletecolor1;
        border: 1px solid $palletecolor1;
      }
    }
    .emptydiv{
      height: 142px;
      //  border: 1px solid red;
    }
    .contactusContainer{
      // padding: 60px;
      background-image: url(../src/assets/gitbg.svg);
      background-position: center;
      background-size: cover;
      // border: 1px solid red;
      .contactusparent{
        // border: 1px solid red;
        max-width: 1440px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 128px;

      .contactus{
              border-radius: 4px;
              color: black;
              background: white;
              padding: 32px 32px;
              max-width: 59rem;
              
              // border: 1px solid red;

              margin: auto;
              margin-top: 60px;
              margin-bottom: 60px;
              display:flex;
              flex-direction: column;
              // align-items: center;
              h1{
                // display: flex;
                // align-items: center;
                // justify-content: center;
                // gap: 10px;
                font-size: 4.8rem;
                font-weight: 600;
                color: $palletecolor2;
                span{
                  color: $palletecolor1;
                }
              }
              p{
                font-size: 2rem;
                color: $palletecolor2;
              }

              form{
                // border: 1px solid red;
                margin-top: 5.6rem;
                display: flex;
                flex-direction: column;
                gap: 20px;

              }
              input{
                padding: 13px 16px;
                border-radius: 8px;
                border: none;
                outline: none;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
              }

              textarea{
                padding: 13px 16px;
                border-radius: 8px;
                border: none;
                outline: none;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
                resize: none;
                min-height: 14.6rem;
              
              }

              button{
        padding: 13px 17.1rem;
        background-color: #33B4FF;
        border: none;
        border-radius: 0.8rem;
        cursor: pointer;
        color: white;
        &:hover{
          background-color: $color1;
          color: $color3;
          background-image:none
        }
        &:active{
          background-color: $color5;
          background-image:none
        }
               }

               .Success{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                gap: 10px;
                color: rgb(44, 102, 44);
                P{
                  color:rgb(44, 102, 44);
                }
               }

               .Error{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                gap: 10px;
                color:rgb(212, 26, 26);
                P{
                  color:rgb(212, 26, 26);
                }
               }

           }
          }
  }
    .headerContainer{
        color: $color3;
        background-image: url("./assets/new/herobg.svg");
        background-size: cover;
        background-position: center;
        min-height: 72.7rem;
       header{
        max-width: 1440px;
        padding: 0 10rem;
        margin: auto;
        @include laptop(){
            padding: 0 5rem;
        }

        // nav{
            
        //     display: flex;
        //     // border: 1px solid red;   
        //     align-items: center;
        //     justify-content: space-between;
        //     position: fixed;
        //     height: 70px;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     padding-left: 100px;
        //     padding-right: 100px;
        //     // transition: 0.1s;

        //     .nav__logo{
        //         // flex: 5;
        //     }
        //     .nav__menu{
        //         // flex: 7;
        //         display: flex;
        //         align-items: center;
        //         gap:7.5rem;
        //         @include tablet(){
        //             gap:2.5rem;
        //         }
        //         // border: 1px solid green;
        //         ul{
        //             display: flex;
        //             list-style-type: none;
        //             @include tablet() {
        //                 display:none;
        //             }
        //             li{
        //                 padding: 1.2rem 3.2rem;
        //                 font-size: 1.6rem;
        //                 font-weight: 300;
        //                 a{  
        //                     white-space: nowrap;
        //                     position: relative;
        //                     cursor: pointer;
        //                     &::after{
        //                         content: '';
        //                         width: 0%;
        //                         height: 0.25rem;
        //                         left: 0;
        //                         bottom: -0.8rem;
        //                         position: absolute;  
        //                         background-color: $palletecolor1; 
        //                         transition: 0.5s;
        //                     }
        //                     &:hover::after{
        //                         width: 100%;
        //                     }
        //                     &:hover{
        //                         color: $palletecolor1;
        //                     }
        //                     // &::after{
        //                     //     width: 0%;
        //                     //     height: 0.25rem;
        //                     //     left: 0;
        //                     //     bottom: -0.8rem;
        //                     //     position: absolute;  
        //                     //     background-color: $color3; 
        //                     //     transition: 0.5s;
        //                     // }
        //                 }
        //             }
                 
        //         }
        //         .nav__menu--icon{
        //             font-size: 1.6rem;
        //             display: none;
        //             @include tablet(){
        //                 display: block;
        //             }
        //         }
        //         button{
        //             padding: 1.2rem 3.2rem;
        //             border: none;
        //             border-radius: 0.4rem;
        //             background-color:$color3;
        //             color: $color1;
        //             cursor: pointer;
        //             &:hover{
        //               background-color: $color1;
        //               color: $color3;
        //             }
        //             &:active{
        //               background-color: $color5;
        //             }
        //         }
        //     }
        // }


    
        .heroSection{
            margin: auto;
            padding-top: 19.9rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 107.7rem;
            // border: 1px solid red;
             h1{
                    
              font-size: 5.6rem;
              font-weight: 600;
              line-height: 110%;
              text-align: center;
              span{
                color: $palletecolor1;
              }
              }
              p{
                  margin-top: 1.9rem;
                  font-size: 2rem;
                  text-align: center;
                  max-width: 81.8rem;
              }
              button{
                  font-size: 1.6rem;
                  margin-top: 4.8rem;
                  padding: 1.2rem 3.2rem;
                  border: none;
                  border-radius: 0.4rem;
                  background-image: linear-gradient(to bottom left,$color5, $color6);
                  color: $color3;
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  cursor: pointer;
                  &:hover{
                    background-color: $color1;
                    color: $color3;
                    background-image:none
                  }
                  &:active{
                    background-color: $color5;
                    background-image:none
                  }
              }
    
        }
       }
    }

    .aboutus{
      display: flex;
      align-items: flex-start;
      margin: auto;
      padding-top: 13rem;
      max-width: 1140px;
      // border: 1px solid red;
      gap: 7.5rem;
      .aboutus__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1{
          font-size: 4rem;
          color:$palletecolor2;
          span{
            color: $palletecolor1;
          }
        }

        p{
          margin-top: 3.8rem;
          font-size: 2rem;
          color:$palletecolor5;
          text-align: justify;
        }

        button{
          font-size: 1.6rem;
          margin-top: 7.5rem;
          padding: 1.6rem 3.2rem;
          border: none;
          border-radius: 0.4rem;
          background-image: linear-gradient(to bottom left,$color5, $color6);
          color: $color3;
          cursor: pointer;
          &:hover{
            background-color: $color1;
            color: $color3;
            background-image:none
          }
          &:active{
            background-color: $color5;
            background-image:none
          }
      }
      }
    }

    .services{
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      max-width: 1240px;
      margin: auto;
      align-items: center;
      padding-top: 13rem;
      &>h1{
        font-size: 4rem;
        color: $palletecolor2;
          span{
            color: $palletecolor1;
          }
      }

      .servicesparent{
        display: flex;
        gap: 2rem;
        margin-top: 5.6rem;
        .services__card{
          border: 1.5px solid transparent;
          max-width: 38.4rem;
          min-height: 40rem;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          padding: 2.1rem 2.6rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 0.8rem;
          h1{
            font-size: 2.4rem;
            margin-top: 2.4rem;
            color: $palletecolor6;
          }
          p{
            font-size: 1.6rem;
            margin-top: 1.6rem;
            color: $palletecolor2;
            text-align: justify;
            // white-space: nowrap;
          }

          &:hover{
            box-shadow: 0 40px 46px 0 rgba(0, 0, 0, 0.08);
            border: 1.5px solid $palletecolor1;
          }
        }

      }
    }

    .projects{
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      max-width: 1240px;
      margin: auto;
      align-items: center;
      padding-top: 13rem;
      &>h1{
        font-size: 4rem;
        color: $palletecolor2;
          span{
            color: $palletecolor1;
          }
      }

      .projectsparent{
        display: flex;
        gap: 2rem;
        margin-top: 5.6rem;
        align-items: center;
        .sliderbtn{
          height: 46px;
          width: 46px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $palletecolor1;
          border-radius: 50%;
          cursor: pointer;
          &>*{
            font-size: 20px;
            color:$palletecolor1;
          }
          &:hover{
            background-color: #0B64E8;
            &>*{
              color:white;
            }

          }

          &:active{
            background-color: #0c52bd;
          }
        }

        .slidercard{
          display: flex;
          // border: 1px solid red;
          // max-height: 550px;
          border-radius: 8px;
          gap: 4rem;
          align-items: flex-start;
          box-shadow: 0 0 3px 0 $palletecolor1;
          padding: 16px 53px 16px 16px;
          // animation: fade-in infinite 4s;

          &>img{
            width: 400px;
            height: 400px;
          }
          .content{
            max-width: 40rem;
            h1{
              font-size: 2.4rem;
              color: $palletecolor5;
            }
            p{
              margin-top: 27px;
              font-size: 2rem;
              text-align: justify;
              color: $palletecolor2;
            }
          }
        }

      }

      .sliderdots{
        display: flex;
        margin-top: 56px;
        gap: 13px;
        .dot{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            border: 1px solid $palletecolor1;     
        }
        .active {
          background-color: #0B64E8;
        }
      }
    }

    .whyus{
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      max-width: 1240px;
      margin: auto;
      align-items: center;
      margin-top: 18.6rem;
      &>h1{
        font-size: 4rem;
        color: $palletecolor2;
          span{
            color: $palletecolor1;
          }
      }

      .whyusparent{
        display: flex;
        gap: 2rem;
        margin-top: 5.6rem;
        .whyus__card{
          border: 1.5px solid transparent;
          max-width: 38.4rem;
          min-height: 40rem;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          padding: 2.1rem 2.6rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 0.8rem;
          h1{
            font-size: 2.4rem;
            margin-top: 2.4rem;
            color: $palletecolor6;
          }
          p{
            font-size: 1.6rem;
            margin-top: 1.6rem;
            color: $palletecolor2;
            text-align: justify;
            // white-space: nowrap;
          }

          &:hover{
            box-shadow: 0 40px 46px 0 rgba(0, 0, 0, 0.08);
            border: 1.5px solid $palletecolor1;
          }
        }

      }
    }


    .team{
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      max-width: 1240px;
      margin: auto;
      align-items: center;
      margin-top: 18.6rem;
      &>h1{
        font-size: 4rem;
        color: $palletecolor2;
          span{
            color: $palletecolor1;
          }
      }

      .teamparent{
        display: flex;
        gap: 2rem;
        margin-top: 5.6rem;
        .team__card{
          border: 1.5px solid transparent;
          max-width: 38.4rem;
          min-height: 40rem;
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          padding: 2.1rem 2.6rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 0.8rem;

          img{
            height: 100%;
            width: 100%;
          }
          h1{
            font-size: 2.4rem;
            margin-top: 2.4rem;
            color: $palletecolor6;
          }
          p{
            font-size: 1.6rem;
            margin-top: 1.6rem;
            color: $palletecolor2;
            text-align: justify;
            // white-space: nowrap;
          }

          &:hover{
            box-shadow: 0 40px 46px 0 rgba(0, 0, 0, 0.08);
            border: 1.5px solid $palletecolor1;
          }
        }

      }
    }
    .getintouchContainer {
        background-image: url(../src/assets/gitbg.svg);
        background-position: center;
        background-size: cover;
        color: $color3;
        // overflow: hidden;
        margin-top: 14rem;
      
        .getintouch {
    
          max-width: 1440px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      
          h1 {
      
            font-size: 4rem;
            margin-top: 10.8rem;  
            font-weight:500 ;              
            
          }
      
          p {
            margin-top: 2rem;
            max-width: 74rem;
            text-align: center;
            font-size: 1.6rem;
          }
      
          div {
            margin-top: 4.2rem;
            margin-bottom: 10.7rem;
            display: flex;
            align-items: center;
            gap: 2rem;

            input {
              outline: none;
              border: 1px solid $color3;
              border-radius: 0.8rem;
              padding: 1.6rem 2rem;
              width: 34.1rem;
              background-color: transparent;
              font-size: 1.6rem;
              color: $color3;
              &::placeholder{
                color: $color3;
              }
            }
      
            // button{
            //     font-size: 1.6rem;
            //     padding: 1.6rem 3.2rem;
            //     border: none;
            //     border-radius: 0.4rem;
            //     background-color:$color3;
            //     color: $color4;
            // }
            button{
              padding: 1.6rem 3.2rem;
              border: none;
              font-size: 1.6rem;
              border-radius: 0.4rem;
              background-color:$color3;
              color: $color1;
              cursor: pointer;
              &:hover{
                background-color: #2F81FB;
                color: white;
              }
              &:active{
                background-color: #1975FD;
              }
          }
          }
        }
      }
      
    .footerContainer{
      padding-top:12.4rem;
      padding-bottom: 4.7rem;
      background-color: $color7;
      // border: 1px solid red;
    .footer {
      // border: 5px solid blue;
      max-width: 1440px;
      margin: auto;
      padding: 0 100px;
      .footerContent {
        // flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid red;
    
        .about {
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;
          max-width: 39.7rem;
          p {
            text-align: justify;
            font-size: 1.3rem;
          }
          .icons {
            margin-top: 7rem;
            display: flex;
            gap: 11px;
            & > div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              background-color: #dddddd;
              color: white;
              &:hover {
                background-image: linear-gradient($color5,$color6);
                box-shadow: -7px 11px 17px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
              }
              &>*{
                  width: 1.6rem;
                  height: 1.6rem;
              }
            }
          }
        }
    
        .quickmenu {
          // border: 1px solid red;
          h1 {
            font-weight: 600;
            font-size: 2.4rem;
          }
    
          display: flex;
          flex-direction: column;
          gap: 16px;
    
          div {
            cursor: pointer;
            font-size: 1.6rem;
          }
        }
    
        .contact {
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          gap: 24px;

          .icon{
              color: $color8;
          }
          & > div {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 1.6rem;
          }
        }
      }
    
    }
 
    }
}

.footerbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;
  background-color: white;
  font-size: 1.6rem;
}







